/* COLOR NAME
h1{
    color: red;
} */

/* HEX CODE */
/* h1{
    color:#787878;
} */

/* RGB */
/* h1{
    color:rgb(80, 120, 10);
} */

/* BACKGROUNCOLORD  */
/* body{
    background-color: rgb(100,40,58);
    color:red;
} */
/* div{
    background-color: wheat;
    color:darkgoldenrod;
} */

/* OPACITY */
#div1{
    background-color: rgb(65, 100, 60);
    opacity: 0.7;
}
#div2{
    background-color: cadetblue;
    opacity: 0.5;
}
.centered{
    color: chocolate;
    font-family: cursive;
}